img{
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }
    .face {
        width: 300px;
    }
    section{
        text-align: center;
    }
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }